@-webkit-keyframes loadingFade {
  from {
    opacity: 1;
    z-index: 10;
  }
  90% {
    opacity: 1;
    z-index: 10;
  }
  to {
    opacity: 0;
    z-index: -5;
  }
}

@keyframes loadingFade {
  from {
    opacity: 1;
    z-index: 10;
  }
  90% {
    opacity: 1;
    z-index: 10;
  }
  to {
    opacity: 0;
    z-index: -5;
  }
}

@-webkit-keyframes loadingSpinner {
  from {
    z-index: 15;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    z-index: -5;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}

@keyframes loadingSpinner {
  from {
    z-index: 15;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    z-index: -5;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}

@-webkit-keyframes loadingOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}

@keyframes loadingOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  font-size: 12px;
}

h1 {
  font-family: 'Shrikhand', cursive;
  background-color: white;
  margin: auto;
  text-align: center;
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: black;
}

.Menu__price p {
  padding-right: 30px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 63px;
}

header i {
  font-size: 18px;
  padding-left: 23px;
  position: absolute;
  top: 22px;
}

.footer {
  height: 171px;
  background-color: #353535;
  padding-left: 24px;
  padding-top: 26px;
}

.footer i {
  width: 12px;
  height: 13px;
  padding-right: 12px;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 26px;
  color: white;
  font-family: 'Shrikhand', cursive;
}

.footer__bloc {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 13px;
}

.footer__text {
  color: white;
}

.Search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  background-color: #eaeaea;
}

.Search h3 {
  padding-left: 18px;
}

.Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 287px;
  width: 100%;
  background-color: #f6f6f6;
}

.Info__button {
  margin: 17px 0px 57px 0px;
}

.Info p {
  font-size: 18px;
  text-align: center;
}

.Info h2 {
  text-align: center;
}

.btn__purple {
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border-radius: 100px;
  border: none;
  width: 218px;
  height: 50px;
  -webkit-box-shadow: #d7d7d7 0px 2px 2px 2px;
          box-shadow: #d7d7d7 0px 2px 2px 2px;
  cursor: pointer;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Tuto {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 440px;
  width: 375px;
  background-color: white;
}

.Tuto__title {
  padding: 50px 0px 0px 20px;
}

.Tuto__steps {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px 0 30px;
  row-gap: 25px;
}

.Tuto__text {
  padding-left: 27px;
}

.Tuto__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
  padding: 25px 0px 20px 30px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 7px 3px #d7d7d7;
          box-shadow: 0px 3px 7px 3px #d7d7d7;
}

.Tuto__num {
  position: relative;
  background-color: #9356DC;
  padding: 6px 10px;
  border-radius: 50px;
  color: white;
  left: -46px;
  top: -4px;
}

.Tuto__list:hover {
  background-color: #e4d5f6;
}

.Tuto__list:hover i {
  color: #9356DC;
}

.restaurant {
  margin: auto;
  background-color: #eaeaea;
  width: 100%;
}

.restaurant__title {
  margin: auto;
  max-width: 375px;
  padding: 58px 0 27px 21px;
}

.Meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 18px;
  padding-bottom: 64px;
}

.Meals img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  width: 335px;
  border-radius: 20px 20px 0px 0px;
}

.Meals__select {
  width: 335px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.Meals__new {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Meals__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 12px 26px 12px 14px;
  border-radius: 0px 0px 20px 20px;
  position: relative;
}

.Meals__note {
  max-width: 240px;
}

.Meals__title {
  margin: 0;
  padding-bottom: 10px;
}

.Meals__text {
  margin: 0;
}

.Meals svg {
  width: 15px;
  height: 26px;
  stroke-width: 18;
  stroke: black;
  fill: transparent;
}

.Meals svg:hover path {
  fill: purple;
}

main {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main img {
  width: 375px;
  height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Menu {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 14px;
  background-color: white;
  padding-top: 20px;
  width: 100%;
  position: relative;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -60px;
}

.Menu__underline {
  width: 40px;
  border-bottom: #99E2D0 solid 3px;
  padding-top: 5px;
}

.Menu__title {
  width: 80%;
  text-align: left;
}

.Menu__starter {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
}

.Menu__dish {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
}

.Menu__dessert {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
}

.Menu__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 7px 3px #d7d7d7;
          box-shadow: 0px 3px 7px 3px #d7d7d7;
  padding: 5px 0px 2px 20px;
  cursor: pointer;
  -webkit-animation: fadeIn 2s 100ms ease-in-out;
          animation: fadeIn 2s 100ms ease-in-out;
}

.Menu__txt p {
  margin: 0;
}

.Menu__txt h3 {
  margin: 0;
}

.Menu__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Menu__select {
  background-color: #99E2D0;
  -ms-flex-item-align: center;
      align-self: center;
  height: 45px;
  width: 52px;
  margin-bottom: 2px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  opacity: 0;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Menu__icon {
  color: white;
  font-size: 20px;
}

.Menu__button {
  margin: 37px 0px 72px 0px;
}

.loading {
  background: white;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  -webkit-animation: loadingOut 200ms 1.5s forwards;
          animation: loadingOut 200ms 1.5s forwards;
}

.loading__box {
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loadingFade 3s linear;
          animation: loadingFade 3s linear;
}

.loading__icon {
  background: -webkit-gradient(linear, right top, left top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to left, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 100px;
  -webkit-animation: loadingSpinner 3s linear;
          animation: loadingSpinner 3s linear;
}

.Menu__choice:hover .Menu__price {
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  padding-right: 25px;
}

.Menu__choice:hover .Menu__select {
  -webkit-animation: slide 600ms ease-in-out both;
          animation: slide 600ms ease-in-out both;
}

.Menu__choice:hover .Menu__icon {
  -webkit-animation: rotate 0.5s ease-in-out both;
          animation: rotate 0.5s ease-in-out both;
}
/*# sourceMappingURL=main.css.map */