body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  font-size: 12px;
}

h1 {
  font-family: 'Shrikhand', cursive;
  background-color: white;
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  text-align: center;
}

.footer {
  height: 171px;
  background-color: #353535;
  padding-left: 24px;
  padding-top: 26px;
}

.footer i {
  width: 12px;
  height: 13px;
  padding-right: 12px;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 26px;
  color: white;
  font-family: 'Shrikhand', cursive;
}

.footer__bloc {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 13px;
}

.footer__text {
  color: white;
}

.Search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #eaeaea;
}

.Search h3 {
  padding-left: 18px;
}

.Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 287px;
  background-color: #f6f6f6;
}

.btn__purple {
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border-radius: 100px;
  border: none;
  padding: 18px 22px;
  -webkit-box-shadow: #d7d7d7 0px 2px 2px 2px;
          box-shadow: #d7d7d7 0px 2px 2px 2px;
  cursor: pointer;
  color: white;
}

.Tuto {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 440px;
  width: 375px;
  background-color: white;
}

.Tuto__title {
  padding: 50px 0 0 20px;
}

.Tuto__steps {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px 0 30px;
  row-gap: 25px;
}

.Tuto__text {
  padding-left: 27px;
}

.Tuto__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
  padding: 30px 0px 25px 33px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 7px 3px #d7d7d7;
          box-shadow: 0px 3px 7px 3px #d7d7d7;
}

.Tuto__num {
  position: relative;
  background-color: #9356DC;
  padding: 6px 10px;
  border-radius: 50px;
  color: white;
  left: -46px;
  top: -4px;
}

.restaurant {
  margin: auto;
  background-color: #eaeaea;
}

.restaurant__title {
  margin: auto;
  width: 375px;
}

.Meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 18px;
}

.Meals img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  border-radius: 20px 20px 0px 0px;
}

.Meals__select {
  width: 335px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 25px;
}

.Meals__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
}

main {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main img {
  width: 375px;
  height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Menu {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 14px;
  background-color: white;
  padding: 20px 0px;
  width: 100%;
  position: relative;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -60px;
}

.Menu__title {
  width: 80%;
  text-align: left;
}

.Menu__starter {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
}

.Menu__dish {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
}

.Menu__dessert {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
}

.Menu__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 7px 3px #d7d7d7;
          box-shadow: 0px 3px 7px 3px #d7d7d7;
  padding: 5px 20px 2px 20px;
}

.Menu__txt p {
  margin: 0;
}

.Menu__txt h3 {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */