header {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 63px;
}

header i {
    font-size: 18px;
    padding-left: 23px;
    position: absolute;
    top: 22px;
}