#Action1 {
    animation: fadeIn 2s 100ms ease-in-out forwards;
}
#Action2 {
    animation: fadeIn 2s 200ms ease-in-out forwards;
}
#Action3 {
    animation: fadeIn 2s 300ms ease-in-out forwards;
}
#Action4 {
    animation: fadeIn 2s 400ms ease-in-out forwards;
}
#Action5 {
    animation: fadeIn 2s 500ms ease-in-out forwards;
}
#Action6 {
    animation: fadeIn 2s 600ms ease-in-out forwards;
}
#Action7 {
    animation: fadeIn 2s 700ms ease-in-out forwards;
}
#Action8 {
    animation: fadeIn 2s 800ms ease-in-out forwards;
}
#Action9 {
    animation: fadeIn 2s 900ms ease-in-out forwards;
}
#Action10 {
    animation: fadeIn 2s 1000ms ease-in-out forwards;
}
#Action11 {
    animation: fadeIn 2s 1100ms ease-in-out forwards;
}
#Action12 {
    animation: fadeIn 2s 1200ms ease-in-out forwards;
}