.loading {
    background: white;
    position: fixed;
    display: flex;
    justify-content: center;    
    align-items: center;  
    width: 100%;
    max-width: 375px;
    height: 100%;
    z-index: 1000;
    animation: loadingOut 200ms 1.5s forwards;
    &__box {
      position: absolute;
      top: 50%;
      width: 100%;
      height: auto;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: loadingFade 3s linear;
    }
    &__icon {
        background: linear-gradient(to left, $secondary, $primary);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 100px;
        animation: loadingSpinner 3s linear;
    }
  }

  @media screen and (min-width: 376px) {
    .loading {
    max-width: none;
    }
  }
