.Menu__choice:hover .Menu__price {
    transition: 500ms ease-in-out;
    padding-right: 25px;
    }

.Menu__choice:hover .Menu__select {
    animation: slide 600ms ease-in-out both;
}

.Menu__choice:hover .Menu__icon {
    animation: rotate 0.5s ease-in-out both;
}



