.Search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: $background-dark;
        h3 {
            padding-left: 18px;
        }
}

.Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 287px;
    background-color: $background-light;
}

.btn__purple {
    @include btn-purple
}

.Tuto {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 440px;
    width: 375px;
    background-color: white;
    &__title {
        padding: 50px 0 0 20px;
    }
    &__steps {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 20px 0 30px;
        row-gap: 25px;
    }
    &__text {
        padding-left: 27px;
    }
    &__list {
        @include btn-grey
    }
}

.restaurant {
    margin: auto;
    background-color: $background-dark;
    &__title {
        margin: auto;
        width: 375px;
    }
}

.Meals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 18px;
    img {
        object-fit: cover;
        height: 175px;
        border-radius: 20px 20px 0px 0px;
    }
    &__select {
        @include meal-block
    }
    &__paragraph {
        display: flex;
        background-color: white;
        border-radius: 0px 0px 20px 20px;
    }
}